.header{
    width: 800px;
}

.content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#spacer{
    width: 600px;
    height: 70px;
    display: inline-block;
}

.content{
    padding-left: 100px;
    height: 800px;
    width: 500px;
}

.active {
    color: green;
}

.logo{
    position: absolute;
    left: 36px;
    top: 20px;
}


.logo h3 {
    font-family: cursive;
}

.gray{
    background-color: #d3d3d3;
    height: 50px;
    text-align: center;
    width: 800px;
    padding-top: 1%;
}

.nav-menu-items{
    position: relative;
    top: -25px;
    padding-left: 554px;
}