.header{
    width: 800px;
}

.content {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#spacer{
    width: 600px;
    height: 70px;
    display: inline-block;
}

.content{
    padding-left: 100px;
    height: 800px;
    width: 500px;
}

.active {
    color: green;
}

.logo{
    position: absolute;
    left: 36px;
    top: 20px;
}


.logo h3 {
    font-family: cursive;
}